<!DOCTYPE html>
<html>
<head>
    <title>Player Results</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }

    </style>

</head>
<body>
    <h1>Player Results</h1>
    <form action="/sort" method="POST">
        <label for="sort_by_sort">Sort By:</label>
        <select name="sort_by_sort" id="sort_by_sort">
            <option value="name">Name</option>
            <option value="username">Email</option>
            <option value="company">Company</option>
            <option value="date_joined">Date Joined</option>
            <option value="points">Score</option>
            <option value="comp_rate">Completion Rate</option>
            <option value="last_played">Last Played</option>
            <option value="accountStatus">Account Status</option>

        </select>

        <label for="sort_order_sort">Sort Order:</label>
        <select name="sort_order_sort" id="sort_order_sort">
            <option value="ASC">Ascending</option>
            <option value="DESC">Descending</option>
        </select>

        <input type="submit" value="Sort">
    </form>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Company</th>
                <th>Date Joined</th>
                
                <th>Score</th>
                <th>Completion Rate</th>
                <th>Last Played</th>
                <th>Account Status</th>

            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[1] }}</td>
                <td>{{ user[0] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
                <td>{{ user[4] }}</td>
                <td>{{ user[5] ~ "%" }}</td>
                <td>{{ user[6] }}</td>
                <td>{{ user[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Export to CSV</h2>
    <form action="/export" method="POST">
        <label for="sort_by_export">Sort By:</label>
        <select name="sort_by_export" id="sort_by_export">
            <option value="name">Name</option>
            <option value="username">Email</option>
            <option value="company">Company</option>
            <option value="date_joined">Date Joined</option>
            
            <option value="points">Score</option>
            <option value="comp_rate">Completion Rate</option>
            <option value="last_played">Last Played</option>
            <option value="accountStatus">Account Status</option>

        </select>

        <label for="sort_order_export">Sort Order:</label>
        <select name="sort_order_export" id="sort_order_export">
            <option value="ASC">Ascending</option>
            <option value="DESC">Descending</option>
        </select>

        <input type="submit" value="Export">


    </form>
    <a href="/logout" class="my-button">Logout</a>
</body>
</html>