<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {
            background-color: {{ theme.background_color }};
            color: {{ theme.text_color }};
        }

        .button {
            background-color: {{ theme.button_color }};
            color: white;
        }
    </style>
</head>
<body>
    <h2>Welcome to the Results Console</h2>
    <h1>Login</h1>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form method="post" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
